.navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.brand{
    position: relative;
    font-size: 2rem;
    margin-left: 30px;
    color: rgb(30, 159, 171) ;
    font-weight: 600;
}
.brand::after{
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: var(--text-color-second);
    position: absolute;
    bottom: 8px;
    right: -15px;
    
  }
.nav-list{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
}
.nav-btn{
    font-size: 1.5rem;
    background: none;
    border: none;

}

.nav-item{
    position: relative;
}
.nav-item::before{
    content: '';
    width: 0;
    height: 2.4px;
    position: absolute;
    background: black;
    bottom: -5px;
    border-radius: 70px;
    transition: all 0.3s ease;
}
.nav-item.active::before{
    width: 100%;
}